################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basis.Desafio/.vs/Basis.Desafio
/Basis.Desafio/basis.desafio.client/.vscode
/Basis.Desafio/basis.desafio.client/obj/Debug
/Basis.Desafio/Basis.Desafio.Server/bin/Debug/net8.0
/Basis.Desafio/Basis.Desafio.Server/obj
/Basis.Desafio/src/Basis.Desafio.Server/bin/Debug/net8.0
/Basis.Desafio/src/Basis.Desafio.Server/obj
/Basis.Desafio/src/Basis.Desafio.Application/bin/Debug/net8.0
/Basis.Desafio/src/Basis.Desafio.Application/obj
/Basis.Desafio/src/Basis.Desafio.CrossCutting/bin/Debug/net8.0
/Basis.Desafio/src/Basis.Desafio.CrossCutting/obj
/Basis.Desafio/src/Basis.Desafio.Domain/bin/Debug/net8.0
/Basis.Desafio/src/Basis.Desafio.Domain/obj
/Basis.Desafio/src/Basis.Desafio.Infra.MongoDb/bin/Debug/net8.0
/Basis.Desafio/src/Basis.Desafio.Infra.MongoDb/obj
